---
layout: default
title: Blog
paginate: true
---
<section id="blog-posts" class="blog-archive-container">
    <h1 class="blog-archive-title">Blog Archive</h1>

    <div class="blog-sidebar">
        <h3>Archives</h3>
        <ul class="tree-menu">
            {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
            {% for year in posts_by_year %}
            <li>
                <button class="tree-toggle">{{ year.name }}</button>
                <ul class="tree-months">
                    {% assign posts_by_month = year.items | group_by_exp: "post", "post.date | date: '%B'" %}
                    {% for month in posts_by_month %}
                    <li>
                        <a href="#{{ year.name }}-{{ month.name }}">{{ month.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="blog-main">
        {% for post in paginator.posts %}
        <div class="blog-post-card">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read More</a>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination-link">Previous</a>
        {% endif %}
        <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination-link">Next</a>
        {% endif %}
    </div>
</section>
