<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- Header Section -->
    <header id="header">
        <div class="d-flex flex-column">
            <!-- Profile Section -->
            <div class="profile">
                <img src="assets/img/profile-img.jpg" alt="Profile Image" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">Pankaj Badatia</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100008204530623" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="https://www.linkedin.com/in/pankajbadatia/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <!-- Navigation Menu -->
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="index.html" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="about.html" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="resume.html" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Journey So Far...</span></a></li>
                    <li><a href="services.html" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a href="blogs.html" class="nav-link scrollto"><i class="bx bx-code-alt"></i> <span>Technical Blogs</span></a></li>
                    <li><a href="contact.html" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Get in Touch</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
